@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

@font-face {
    font-family: 'StarJedi';
    src: url(./assets/fonts/Starjedi.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #ffffff;
    --card-background: rgba(8, 8, 8, 0.92);
    --card-text-border: #b3b3b3;
    --factions: brightness(0) saturate(100%) invert(100%) sepia(96%)
        saturate(15%) hue-rotate(212deg) brightness(104%) contrast(104%);
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

#root {
    background-color: black;
}

/* ANIMATIONS */
@keyframes blink-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animFw {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes mltShdSpin {
    0% {
        box-shadow:
            0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em,
            0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em,
            0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow:
            0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em,
            0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em,
            0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow:
            0 -0.83em 0 -0.4em,
            -0.087em -0.825em 0 -0.42em,
            -0.173em -0.812em 0 -0.44em,
            -0.256em -0.789em 0 -0.46em,
            -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow:
            0 -0.83em 0 -0.4em,
            -0.338em -0.758em 0 -0.42em,
            -0.555em -0.617em 0 -0.44em,
            -0.671em -0.488em 0 -0.46em,
            -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow:
            0 -0.83em 0 -0.4em,
            -0.377em -0.74em 0 -0.42em,
            -0.645em -0.522em 0 -0.44em,
            -0.775em -0.297em 0 -0.46em,
            -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow:
            0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em,
            0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em,
            0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes flipIn {
    0% {
        transform: rotateY(90deg);
        opacity: 0;
    }
    100% {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

/* START SCREEN */
.startscreen {
    background-image: url(./assets/images/starter.jpg);
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.startscreen-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10em;
}
.startscreen-heading h1 {
    font-size: 10rem;
    font-family: 'StarJedi';
    font-weight: 400;
    color: var(--primary-text-color);
}
.startscreen-heading p {
    font-size: 1.2rem;
    font-family: 'Bruno Ace';
    color: var(--primary-text-color);
    animation: blink-animation 3s infinite;
}

/* DISCLAIMER SCREEN */
.disclaimer-screen {
    background-image: url(./assets/images/disclaimer.jpg);
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disclaimer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10em;
    max-width: 50em;
}

.disclaimer-section h2 {
    font-family: 'StarJedi';
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.05em;
    color: var(--primary-text-color);
}
.disclaimer-section p {
    font-size: 1.2rem;
    font-family: 'Bruno Ace';
    text-align: center;
    color: var(--primary-text-color);
}

.loader {
    width: 100%;
    height: 0.7em;
    margin-top: 1em;
    border-radius: 1em;
    display: inline-block;
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    overflow: hidden;
}
.loader::after {
    content: '';
    box-sizing: border-box;
    width: 0;
    height: 0.7em;
    background: var(--primary-text-color);
    position: absolute;
    top: 0;
    left: 0;
    animation: animFw 15s ease-in-out;
}

/* FACTION SCREEN */
.faction-screen {
    background-image: url(./assets/images/faction.jpg);
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.faction-select-container {
    display: flex;
    gap: 5em;
}
.faction-heading {
    font-family: 'StarJedi';
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.05em;
    color: var(--primary-text-color);
    margin-bottom: 2em;
}

.cardback {
    border-radius: 2em;
    padding: 1em;
    background-color: var(--card-background);
    transition: transform 0.3s ease-in-out;
}
.cardback-border {
    background-color: transparent;
    border: 2px solid var(--card-text-border);
    border-radius: 1em;
    padding: 6em 3em;
}
.cardback-border img {
    max-width: 5em;
    filter: var(--factions);
}
.cardback:hover {
    transform: scale(1.05);
    box-shadow: var(--primary-text-color) 0px 0px 10px 0px;
}

.loader-spinner {
    color: #ffffff;
    font-size: 60px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    bottom: 1em;
    right: 1em;
    transform: translateZ(0);
    animation:
        mltShdSpin 2s infinite ease,
        round 2s infinite ease;
}

/* INTRODUCTION SCREEN */
.introduction-screen {
    background-image: url(./assets/images/nameblur.jpg);
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.introduction-screen::before {
    content: '';
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
}
.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12em;
}
form {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 2em;
}

form input {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Bruno Ace';
    text-align: center;
    padding: 0.3em;
    margin-right: 0.5em;
    border: none;
    border-radius: 0.4em;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(71, 70, 70);
}
form input:focus {
    outline: none;
}
form input:valid + span {
    display: block;
}
form span {
    display: none;
    position: absolute;
    right: -0.8em;
    font-size: 1.1rem;
    color: var(--primary-text-color);
}
.invalid-input {
    color: rgba(207, 23, 23, 0.801);
}
.valid-input {
    color: rgba(75, 207, 23, 0.801);
}

.introduction-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.introduction-heading h2 {
    font-family: 'StarJedi';
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.05em;
    color: var(--primary-text-color);
}
.introduction-heading p {
    font-size: 1.2rem;
    font-family: 'Bruno Ace';
    text-align: center;
    color: var(--primary-text-color);
}

/* GAME SCREEN */
.game-screen {
    background-image: url(./assets/images/battle.jpg);
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.game-screen::before {
    content: '';
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
}

.game-header {
    display: flex;
    justify-content: space-between;
}

.game-header .profile-banner {
    border-top: none;
    border-left: none;
    border-radius: 0 0 1em 0;
}
.settings-btn {
    background-color: transparent;
    border: none;
    border-radius: 0.8em;
    align-self: center;
    margin-right: 0.5em;
    cursor: pointer;
}
.settings-btn img {
    width: 2em;
    filter: var(--factions);
}

.scoreboard-best,
.scoreboard-score {
    display: flex;
    background-color: var(--card-background);
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
    width: 8em;
    padding: 0.3em;
    border: 2px solid var(--card-text-border);
    border-radius: 0.8em;
    height: fit-content;
}
.scoreboard-best {
    position: absolute;
    top: 0;
    border-top: none;
    border-radius: 0 0 0.8em 0.8em;
}
.scoreboard-score {
    align-self: center;
    position: absolute;
    bottom: 0;
    border-bottom: none;
    border-radius: 0.8em 0.8em 0 0;
}

.scoreboard-best h2,
.scoreboard-score h2,
.scoreboard-best span,
.scoreboard-score span {
    color: var(--primary-text-color);
    font-family: 'Bruno Ace';
    font-size: 0.8rem;
    font-weight: 400;
}

.game-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    gap: 1em;
}
.game-main .cardback {
    position: absolute;
    left: 3em;
    pointer-events: none;
    scale: 0.8;
}

.computer-side,
.player-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.game-controls {
    display: flex;
    gap: 4em;
    align-self: center;
}

.lower-btn,
.higher-btn {
    padding: 0.3em;
    background-color: var(--card-background);
    border: 2px solid var(--card-text-border);
    border-radius: 0.8em;
    cursor: pointer;
}
.lower-btn img,
.higher-btn img {
    width: 3em;
    filter: var(--factions);
}
.higher-btn img {
    rotate: 180deg;
}

.game-footer {
    display: flex;
}

.game-footer .profile-banner {
    border-bottom: none;
    border-left: none;
    border-radius: 0 1em 0 0;
}
.profile-banner {
    width: 12em;
    align-items: center;
    gap: 0.5em;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0.5em;
    font-size: 0.9rem;
    color: var(--primary-text-color);
    background-color: var(--card-background);
    border: 2px solid var(--card-text-border);
}
.profile-banner img {
    max-width: 1.6em;
    filter: var(--factions);
}
.profile-banner h3 {
    text-align: center;
    width: 100%;
}

/* CARD */
.card-container {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--card-background);
    padding: 1em;
    gap: 1em;
    border-radius: 2em;
}
.card-container h2 {
    font-family: 'Bruno Ace';
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--primary-text-color);
    max-width: 8em;
}
.card-image-pwr {
    display: flex;
    width: 14em;
    height: 16.5em;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--card-text-border);
    border-radius: 1em;
    position: relative;
}

.card-image-pwr img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 1em;
}
.card-pwr {
    border: 1px solid var(--card-text-border);
    border-radius: 4em;
    font-family: 'Bruno Ace';
    font-size: 1.2em;
    padding: 0.2em 0.4em;
    color: var(--card-text-border);
    position: absolute;
    top: 0.4em;
    right: 0.4em;
}

.card-name-faction {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-name-faction img {
    max-width: 3em;
    filter: var(--factions);
}

.hidden-card {
    display: flex;
    align-items: center;
    border-radius: 2em;
    padding: 1em;
    background-color: var(--card-background);
}
.hidden-card .cardback-border {
    padding: 7.6em 4.4em;
}
.flip-in {
    animation: flipIn 0.5s ease;
}

/* GAME MENU */
.game-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 3em 5em;
    background-color: rgba(8, 8, 8, 0.6);
    backdrop-filter: blur(5px);
    z-index: 2;
    gap: 4em;
}

.game-menu-header {
    display: flex;
    font-size: 2em;
    gap: 2em;
}

.game-menu button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: 'Bruno Ace';
    font-size: 1rem;
    font-weight: 100;
    color: var(--primary-text-color);
}

.game-menu-main {
    display: flex;
}

.game-menu-buttons {
    width: 50%;
}

.paused-buttons,
.settings-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
}
.game-menu-buttons button {
    font-family: 'Bruno Ace';
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--primary-text-color);
}
